<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color='danger'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Materiais Pesados
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]='slideOpts'>

    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Niobio</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/niobio.jpg" alt="Niobio">
          <br>
          <p class="ion-text-justify">
            O nióbio é usado em produtos diversos, desde turbinas de avião até lâminas de barbear. Ele também é supercondutor.
            <br><br>
            Os aços microligados ao nióbio aumentam simultaneamente a resistência e a tenacidade, fundamentais para responder aos desafios da construção moderna, principalmente no caso de regulamentações quanto a incêndios e terremotos.
            <br><br>
            Teor de Nióbio acima de 60%.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    

    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Tantalita</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/tantalita.jpg" alt="Tantalita">
          <br>
          <p class="ion-text-justify">
            Tantalita é um minério bastante aplicado na indústria eletrônica pois oferece resistência ao calor.
            <br><br>
            Bastante usado na indústria do vidro, por aumentar o índice de refração, no aço cirúrgico, sendo não-reativo nos tecidos corporais.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Manganês</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/manganes-mineradora-atalaia.jpg" alt="Manganês">
          <br>
          <p class="ion-text-justify">
            O manganês, quarto metal mais utilizado do mundo, está presente na composição várias coisas que fazem parte do seu dia a dia, como a pilha e a tinta.
            <br><br>
            É essencial na fabricação de aço, e também de ferroligas, combinações de ferro com um ou mais elementos químicos, como o próprio manganês.
            <br><br>
            Teor de Manganês acima de 40%.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Minério de Ferro</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/minerio-de-ferro.jpg" alt="Minério de Ferro">
          <br>
          <p class="ion-text-justify">
            O minério de ferro é encontrado na natureza na forma de rochas, misturado a outros elementos. Por meio de diversos processos industriais com tecnologia de ponta, o minério é beneficiado para, posteriormente, ser vendido para as indústrias​ siderúrgicas.
            <br><br>
            Na construção de casas, na fabricação de carros e na produção de eletrodomésticos, encontra-se um pouquinho do minério de ferro produzido pela Mineradora Atalaia.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pedra de Alvenaria</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/pedra alvenaria.jpg" alt="Pedra de Alvenaria">
          <br>
          <p class="ion-text-justify">
            Pedra de Alvenaria para construção civil. Temos a quantidade que você precisa.
            <br><br>
            Para comprar Pedra de Alvenaria na Mineradora Atalaia, basta um toque!
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Brita</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/brita.jpg" alt="Brita">
          <br>
          <p class="ion-text-justify">
            A Mineradora Atalaia do Brasil possui vários tipos de Brita.
            <br><br>
            São elas:
            <br>
            Brita 0, Brita 1, Brita 2, Brita 3 e Brita 4.
            <br><br>
            A Brita é indicada para confecção de concretos em geral, vigas e vigotas, lajes pré-moldadas, pavimento intertravado, tubos, blocos, chapiscos e acabamentos em geral.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide (click)="openModal()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Areia Grossa</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img src="/assets/pesados/areiagrossa.jpg" alt="Areia Grossa">
          <br>
          <p class="ion-text-justify">
            A areia é um dos materiais fundamentais para construções de qualquer tipo. 
            <br>
            Junto com a pedra britada, ela compõe o concreto que vai ser usado, além de poder ser usada na decoração.
            <br><br>
            Indicada para mistura de concreto, utilizada para a sustentação de lajes e colunas.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
