<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color='danger'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ouro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/Gold24k2H.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Seguraça e Liquidez</ion-card-subtitle>
      <ion-card-title>Por que investir?</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
        Pode ser vendido em qualquer momento e em qualquer lugar do planeta, por isso é chamado de “dinheiro real”. 
        Na prática, o ouro preserva patrimônio e compensa o risco de outras aplicações financeiras tradicionais.
        <br><br>
        É preciso lembrar que o ouro, diferentemente de um papel-moeda, é de prospecção limitada. 
        E, mais do que isso, um mineral já bastante explorado — há séculos — no Brasil e em outras nações colonizadas.
        <br><br>
        Dessa forma, com a escassez das jazidas mundiais, o metal amarelo ainda circulante no mercado tende a se valorizar ainda mais.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="/assets/Gold24k1H.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Qualidades do Metal</ion-card-subtitle>
      <ion-card-title>Ouro 18k</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      De entre as características principais do Ouro, destacam-se a boa condutividade eléctrica, a resistência à corrosão, além de não reagir com a maioria dos produtos químicos (metal nobre).
      <br><br>
      Devido às suas características, o ouro é um metal que pode ser aplicado numa grande quantidade de produtos utilizados para os mais diferentes fins.
      <br><br>
      <strong> comprar Ouro na Mineradora Atalaia, clique no botão abaixo:</strong>
    </ion-card-content>
    <ion-item href="https://api.whatsapp.com/send?1=pt_BR&phone=5511966435275" color="success" class="activated">
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      <ion-label>Whatsapp</ion-label>
    </ion-item>

    <ion-item color="secondary" (click)="openModal()">
      <ion-icon ios="ios-contacts" md="md-contacts" slot="start"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
